h1 { 
    color: rgb(238, 104, 26);
  }

h2 {
    color:rgb(238, 104, 26)
}

body {
    background-color:rgb(0, 238, 255)
}

.timestamp {
  color: rgb(229, 5, 5); 
  font-size: 0.8em; 
}

.line-out {
    text-decoration: line-through;
  }
